<table>
	<thead>Default Lesschat Webhook URL</thead>
	<tbody>
	<tr>
		<td>
			<input type="text" id="settings_webhook_url" size=100 value="<%= settings['webhook_url'] %>" name="settings[webhook_url]" />
		</td>
	</tr>
	<tr>
		<td>
			<span>
				You can specify `Lesschat Webhook URL` custom key in your projects to push to URLs other than this Default Lesschat Webhook URL.
			</span>
		</td>
	</tr>
		
	</tbody>
</table>
